/* UI, SPACE 포함하는 최상위 div */
.WRAP{
    position: absolute;
    top : 0;
    left : 0;
    width: 100vw;
    height: 100vh;
}

/* 게임 판과 기물이 구현되는 Canvas (React-three/fiber) */
.SPACE{
    position: absolute;
    top : 0;
    left : 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

/* 게임 UI가 구현되는 div */
.UI{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.visible{
    z-index : 2;
    position: relative;
    color : white;
}

.wall{
    z-index : 2;
    position: relative;
    color : white;
}