/* UI, SPACE 포함하는 최상위 div */
.WRAP{
    position: absolute;
    top : 0;
    left : 0;
    width: 100vw;
    height: 100vh;
}

/* 게임 판과 기물이 구현되는 Canvas (React-three/fiber) */
.SPACE{
    position: absolute;
    top : 0;
    left : 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

/* 게임 UI가 구현되는 div */
.UI{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.visible{
    z-index : 2;
    position: relative;
    color : white;
}

.wall{
    z-index : 2;
    position: relative;
    color : white;
}

.notice_team{
    z-index : 3;
    position: absolute;
    top : 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    opacity: 1;
    overflow: hidden;
}

.notice{
    margin-top: 10vh;
    width: 30vw;
    height: 50vh;
}

.mode{
    margin-top: 7%;
    font-size: 2.2vw;
    font-weight: bold;
    margin: 0 auto;
    width: fit-content;
    height: 13%;
}

.team_text{
    width: fit-content;
    height: 8%;
    font-size: 1.5vw;
    margin: 0 auto;
    margin-bottom: 4%;
    color:  rgb(196, 196, 196);
    font-family: 'Pretendard-Regular', sans-serif;
}

.team_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: calc((100% - 26.6%)/2);
    border-radius: 100%;
    font-size: 1.5vw;
    font-weight: bold;
    width: 26.6%;
    height: 8vw;
    transform-origin: center center; /* 추가 */
}

.team{
    position: relative;
}

.white{
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px white, 0px 0px 5px black;
}

.black{
    background-color: black;
    color: white;
    box-shadow: 0px 0px 10px white;
}

.strategy{
    margin-top: 4vh;
    display: flex;
    align-items: center;
    justify-self: center;
    color : rgb(110, 117, 125);
}

.delete {
    /* animation: delete 0.3s forwards cubic-bezier(1.000, -0.005, 0.8, 0.295);
    clip-path: circle(75% at 50% 50%); */
    opacity: 0;
    transition-duration: 0.3s;
    transition-delay: 0.6s;
    transition-property: opacity, width, height;
    width: 0vw;
    height: 0vh;

}

.delete2{
    animation: delete2 0.5s forwards cubic-bezier(1.000, -0.005, 0.7, 0.295);
}


@keyframes delete2 {
    0% {
        transform: scale(1);
        font-size: 1.5vw;
    }
    100% {
        color: transparent;
        transform: scale(30);
    }
}
  
@keyframes delete {
    0% {
        clip-path: circle(75% at 50% 50%);
        opacity: 1;
    }

    80% {
        clip-path: circle(0.5% at 50% 50%);
    }

    100% {
        clip-path: circle(0% at 50% 50%);
        display: none;
    }
}