.wrap{
    position: absolute;
    bottom : 1.6vh;
    left : 1.4vw;
    background-color: #ff5555;
    color : white;
    height : 6.3vh;
    z-index : 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    padding : 1vw;
    transition: transform 0.2s ease;
}

.wrap:hover{
    transform: scale(1.1);
}

.exclamation{
    margin-right:0.5vw;
}

.text{
    margin-right : 1vw;
}

.close{
    margin-left : 1vw;
}