.img{
  position: relative;
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
  margin-left: 3vw;
  margin-top: 2vw;
}

.img2{
  position: relative;
  width: 96vh;
  height: 60vh;
  object-fit: fit;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
  margin-left: 3vw;
  margin-top: 1.7vw;
  margin-bottom: 0.3vw;
  border-radius: 10px;
}

.WRAP{
  position: absolute;
  background-color: rgb(251, 250, 252);
  height: 92vh;
  top: 0vh;
  left: 16.8vw;
  z-index: 2;
  width: calc(100vw * 0.83)
}


.close{
  cursor: pointer;
  position: absolute;
  color : black;
  z-index : 2;
  font-size : 3vw;
  top : 3vw;
  right : calc(3vw + 20px);
  transition: 0.2s;
}

.close:hover{
  font-size : 3.2vw;
  color : #ff5555
}

.SPACE{
    position: absolute;
    top : 0;
    left : 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

/* 게임 UI가 구현되는 div */
.UI{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 92vh;
}
