.page{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    background-color: rgba(0,0,0,0.6);
  }
  
  .msgWrap{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60vw;
    margin: 25vh 20vw;
    height: 50vh;
    align-self: center;
  }
  
  .msg{
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 6.5vw;
  }
  
  .win{
    color: rgb(112, 170, 225)
  }
  
  .defeat{
    color: #fe0235;
  }
  
  .goMain{
    cursor: pointer;
    color: white;
    /* border: solid 2px rgb(255, 158, 174); */
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 10%;
  }