.pageWrap{
    position: absolute;
    top: 0;
    left: 0;
}

.page{
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.3s 0s;
    overflow: hidden;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 3.5vw;

}

.settingIcon{
    position: relative;
    top: 1vh;
    width: 2.5vw;
    height: 2.5vw;
    margin: 0.5vw;
    object-fit: fill;
    z-index: 4;
    transition: transform 0.3s 0s;
    transform: rotateZ(0deg);
    cursor: pointer;
}

.show>.settingIcon{
    transform: rotateZ(360deg);
}

.IconWrap{
    transition: width 0.3s 0s;
    position: absolute;
    top: 0;
    left: 0;
    width: 13.2vw !important;
    height: 3.5vw !important;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.7);
}

.closed{
    width: 0vw !important;
    height: calc(100vh - 3.5vw);
}

.show{
    width: 13.2vw !important;
    height: calc(100vh - 3.5vw);
}

.setting{
    display: flex;
    width: 13.2vw;
    height: 3vh;
}

.content{
    font-family: 'Pretendard-regular', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    width: 11vw;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1vw;
      /* 기본 스타일 제거 S*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* 기본 스타일 제거 E*/
  position:relative;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button:checked{
    background-color: white;
}

.button:checked::after{
    content: '';
    position: relative;
    bottom: 2px;
    width: 6px;
    height: 10px;
    border-bottom: 2px solid #111;
    border-right: 2px solid #111;
    transform: rotate(45deg);
}